@import url("https://fonts.googleapis.com/css2?family=Kiwi+Maru&family=Raleway:ital,wght@0,400;0,700;1,400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Classes */
.body-gradient {
  background-color: #003;
  background-image: radial-gradient(at top left, #08163b 0%, transparent 100%),
    radial-gradient(at bottom left, #292935 0%, transparent 100%),
    radial-gradient(at bottom right, #293f53 0%, transparent 100%),
    radial-gradient(at top right, #311242 0%, transparent 100%);
}

/* Applying Styles */
@layer base {
  a {
    @apply text-custom-yellow;
  }
  a:hover {
    @apply text-custom-orange;
  }
  body {
    @apply body-gradient;
  }
}

@layer components {
  .continue-reading::after {
    content: " »";
  }
  .social-media-icon {
    @apply w-6 h-6 fill-current text-custom-green-dark hover:text-custom-green-light;
  }
  nav > a {
    @apply text-custom-green-dark;
  }
  nav > a:hover {
    @apply text-custom-green-light underline;
  }
}
